@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono');

/*LOGO*/
.st0{fill:#482FDF;}
.st1{fill:#EF3C61;}
.st2{fill:none;stroke:#482FDF;stroke-width:2.9947;stroke-miterlimit:10;}
.st3{fill:#FFFFFF;stroke:#482FDF;stroke-width:2.0326;stroke-miterlimit:10;}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*this only affects padding and border; meaning when adding padding it will add inside of the box and not increase the width; BUT it will increase the width when using margin*/
}

html, body{
	height: 100%;
    background: #F6F7FB;
}

.title { 
	height: 70%;
	display: flex;
	flex-flow: row wrap;
}

.logo {
	flex: 1 100%;
	height: 20%;
	margin: auto;
}

.links {
	height: 30%;
	display: flex;
	flex-flow: row wrap;
}

.link {
	width: 15%;
	justify-content: center;
	margin: auto;
	text-align: center;
}

.link a {
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
	color: #EF3C61;
	font-size: 20px;
}
.link a:hover {
	text-decoration:line-through;
	font-size: 25px;
}

.essay { 
	width: 60%;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 50px;
}

.essay h1 {
	flex: 1 100%;
	font-family: 'Roboto Mono', monospace;
	color: #482FDF;
	font-size: 30px;
	padding-top: 15px;
}

.essay p{
	flex: 1 100%;
	font-family: 'Lato', sans-serif;
	color: #656D79;
	font-size: 15px;
	padding-top: 10px;
	line-height: 25px;
}

.footnum{
	color: #EF3C61;
	font-size: 10px;
	vertical-align: super;
}

.moodboard { 
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding-top: 50px;
}

.moodboard h1 {
	flex: 1 100%;
	font-family: 'Roboto Mono', monospace;
	color: #482FDF;
	font-size: 30px;
	padding-bottom: 15px;
}

.moodboard h2 {
	flex: 1 100%;
	font-family: 'Lato', sans-serif;
	color: #656D79;
	font-size: 15px;
	padding-bottom: 15px;
}

.moodboard img{ 
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	padding-bottom: 15px;
}

.colors { 
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding-top: 50px;
}

.colors h1 {
	flex: 1 100%;
	font-family: 'Roboto Mono', monospace;
	color: #482FDF;
	font-size: 30px;
	padding-bottom: 15px;
}

.colors img{ 
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	padding-bottom: 15px;
}

.insp { 
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding-top: 50px;
}

.item {
	flex: 1 50%;
	margin-top: 50px;
	margin-bottom: 70px;
	padding: 10px;
}

.item img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.item h1 {
	flex: 1 100%;
	font-family: 'Roboto Mono', monospace;
	color: #482FDF;
	font-size: 30px;
	padding-bottom: 15px;
}

.item h2 {
	flex: 1 100%;
	font-family: 'Lato', sans-serif;
	color: #656D79;
	font-size: 15px;
	padding-bottom: 15px;
}

.type { 
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding-top: 50px;
}

.roboto {
	font-family: 'Roboto Mono', monospace;
	color: #482FDF;
	padding-top: 10px;
}

.lato {
	font-family: 'Lato', sans-serif;
	color: #482FDF;
	padding-top: 10px;
}

.wireframes { 
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding-top: 50px;
}

.wireframes h1 {
	flex: 1 100%;
	font-family: 'Roboto Mono', monospace;
	color: #482FDF;
	font-size: 30px;
	padding-bottom: 15px;
}

.wireframes img{ 
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	padding-bottom: 15px;
}

.mockups { 
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding-top: 50px;
}

.mockups h1 {
	flex: 1 100%;
	font-family: 'Roboto Mono', monospace;
	color: #482FDF;
	font-size: 30px;
	padding-bottom: 15px;
}

.desk {
	flex: 1 100%;
	padding: 10px;
}

.tab, .mob {
	flex: 1 50%;
	padding: 10px;
}

.mock img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 10px #BABABA;
}
